﻿<h1>Push Notifications</h1>

<p>The time is now <cfoutput>#now()#</cfoutput>.</p>

<cfsilent>
https://kAhk7UpWBago6imZZmPxOlEW0sWvKGX6JD48vcaV:restapi-key=WdhJVUAcfDTyPYTuLx7wAyY1iwvbdF8ZahjA9K4q@api.parse.com/1/classes/GameScore/Ed1nuqPvcm


https://kAhk7UpWBago6imZZmPxOlEW0sWvKGX6JD48vcaV:javascript-key=yNfF2GX6fpTf0smL3w1lLSV2nieFHKw1cTMjX6rJ@api.parse.com/1/classes/TestClass/Ao65Ourx8L
https://kAhk7UpWBago6imZZmPxOlEW0sWvKGX6JD48vcaV:javascript-key=yNfF2GX6fpTf0smL3w1lLSV2nieFHKw1cTMjX6rJ@api.parse.com/1/users

AUTHENTICATION THROUGH HTTP HEADERS:

X-Parse-Application-Id: kAhk7UpWBago6imZZmPxOlEW0sWvKGX6JD48vcaV
X-Parse-REST-API-Key: WdhJVUAcfDTyPYTuLx7wAyY1iwvbdF8ZahjA9K4q


https://api.parse.com/1/classes/TestClass/Ao65Ourx8L
https://api.parse.com/1/classes/TestClass/uFHnmSC3ZV

{"createdAt":"2013-08-28T17:38:29.675Z","objectId":"nFyqRJLt5U"}
{"createdAt":"2013-08-28T17:39:09.156Z","objectId":"czP4CzGRmF"}
{"createdAt":"2013-08-28T17:39:42.220Z","objectId":"7zkMYSrNBs"}
</cfsilent>

<!--- Create an object --->
<!---<cfscript>
	stData = {"id" = 3, "label" = "Kobe!", "active" = true};
	data = serializeJSON(stData);
</cfscript>

<p><cfoutput>#data#</cfoutput></p>

<cfhttp url="https://api.parse.com/1/classes/TestClass" method="post">
	<cfhttpparam type="header" name="Content-Type" value="application/json" />
	<cfhttpparam type="header" name="X-Parse-Application-Id" value="Uosn4eQSoMXCG8SVb2oGWiKplYSRzOIPSFjAbrLF" />
	<cfhttpparam type="header" name="X-Parse-REST-API-Key" value="p7SqWQhzrPvGljOZrF7J9OmNe31J7dConFySmSJ4" />
	<cfhttpparam type="body" value="#data#" />
</cfhttp>--->

<!--- List Objects --->
<cfhttp url="https://api.parse.com/1/classes/TestClass" method="get">
	<cfhttpparam type="header" name="Content-Type" value="application/json" />
	<cfhttpparam type="header" name="X-Parse-Application-Id" value="Uosn4eQSoMXCG8SVb2oGWiKplYSRzOIPSFjAbrLF" />
	<cfhttpparam type="header" name="X-Parse-REST-API-Key" value="p7SqWQhzrPvGljOZrF7J9OmNe31J7dConFySmSJ4" />
</cfhttp>

<!--- Updateting Objects --->
<!---<cfscript>
	stData = {"id" = 2, "label" = "What an inactive world!", "active" = false};
	data = serializeJSON(stData);
</cfscript>

<p><cfoutput>#data#</cfoutput></p>

<cfhttp url="https://api.parse.com/1/classes/TestClass/uFHnmSC3ZV" method="put">
	<cfhttpparam type="header" name="Content-Type" value="application/json" />
	<cfhttpparam type="header" name="X-Parse-Application-Id" value="kAhk7UpWBago6imZZmPxOlEW0sWvKGX6JD48vcaV" />
	<cfhttpparam type="header" name="X-Parse-REST-API-Key" value="WdhJVUAcfDTyPYTuLx7wAyY1iwvbdF8ZahjA9K4q" />
	<cfhttpparam type="body" value="#data#" />
</cfhttp>--->




<!--- dump data --->
<cfset stResponse = deserializeJSON(cfhttp.fileContent.toString()) />
<cfdump var="#cfhttp#" label="cfhttp" expand="true" />
<cfdump var="#cfhttp.fileContent.toString()#" label="toString" expand="true" />
<cfdump var="#stResponse#" label="stResponse" expand="true" />










