<h1>Retrieve Installations</h1>

<p>The time is now <cfoutput>#now()#</cfoutput>.</p>


<!--- retrieve installations --->
<cfscript>
	stData = {"id" = 1, "label" = "Hello, World!", "active" = true};
	data = serializeJSON(stData);
</cfscript>

<cfhttp url="https://api.parse.com/1/installations" method="get">
	<cfhttpparam type="header" name="Content-Type" value="application/json" />
	<cfhttpparam type="header" name="X-Parse-Application-Id" value="kAhk7UpWBago6imZZmPxOlEW0sWvKGX6JD48vcaV" />
	<cfhttpparam type="header" name="X-Parse-Master-Key" value="H1CLhFGoPsi0D8gDj15GihuItu1hHjabXR0JTxUn" />
	
	<cfhttpparam type="url" name="limit" value="10" />
</cfhttp>



<!--- dump data --->
<cfset stResponse = deserializeJSON(cfhttp.fileContent.toString()) />
<cfdump var="#cfhttp#" label="cfhttp" expand="true" />
<cfdump var="#cfhttp.fileContent.toString()#" label="toString" expand="true" />
<cfdump var="#stResponse#" label="stResponse" expand="true" />










