﻿<h1>Query Installations</h1>

<p>The time is now <cfoutput>#now()#</cfoutput>.</p>

<cfsilent>
	11,195
	deviceToken:		8e31bba611509b2a34cf884e3fee29d91f493c6cd5c2be4406cf60d5a3cb27f2
	installationId:		625d4dea-d3ea-464e-8d34-7273d5fece06
	objectId:			zzhyrvNfiR
	
	createdAt:			2013-08-27T18:24:31.963Z
	updatedAt:			2013-08-27T18:25:59.323Z
</cfsilent>

<!--- Query objects of TestClass class --->
<!---<cfscript>
	stWhere = {"active" = true, "id" = {"$gte" = 1, "$lte" = 2}};
	where = serializeJSON(stWhere);
</cfscript>

<p><cfoutput>#where#</cfoutput></p>

<cfhttp url="https://api.parse.com/1/classes/TestClass" method="get">
	<cfhttpparam type="header" name="Content-Type" value="application/json" />
	<cfhttpparam type="header" name="X-Parse-Application-Id" value="Uosn4eQSoMXCG8SVb2oGWiKplYSRzOIPSFjAbrLF" />
	<cfhttpparam type="header" name="X-Parse-REST-API-Key" value="p7SqWQhzrPvGljOZrF7J9OmNe31J7dConFySmSJ4" />
	<cfhttpparam type="url" name="where" value="#where#" />
	<cfhttpparam type="url" name="order" value="-id" />
</cfhttp>--->

<!--- Query objects of Installation class --->
<cfscript>
	stWhere = {"objectId" = "zzhyrvNfiR"};
	//stWhere = {"deviceToken" = "8e31bba611509b2a34cf884e3fee29d91f493c6cd5c2be4406cf60d5a3cb27f2"};
	where = serializeJSON(stWhere);
</cfscript>

<p><cfoutput>#where#</cfoutput></p>

<cfhttp url="https://api.parse.com/1/installations" method="get">
	<cfhttpparam type="header" name="Content-Type" value="application/json" />
	<cfhttpparam type="header" name="X-Parse-Application-Id" value="Uosn4eQSoMXCG8SVb2oGWiKplYSRzOIPSFjAbrLF" />
	<cfhttpparam type="header" name="X-Parse-Master-Key" value="nNYRbRWbrUiab000yy1UlA2jGLtwmAzKQlu26LDk" />
	<cfhttpparam type="url" name="where" value="#where#" />
	
	<cfhttpparam type="url" name="limit" value="100" />
	<cfhttpparam type="url" name="skip" value="0" />
</cfhttp>




<!--- dump data --->
<cfset stResponse = deserializeJSON(cfhttp.fileContent.toString()) />
<cfdump var="#cfhttp#" label="cfhttp" expand="true" />
<cfdump var="#cfhttp.fileContent.toString()#" label="toString" expand="true" />
<cfdump var="#stResponse#" label="stResponse" expand="true" />










